{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}{% trans 'Custom Styling' %}{% endblock %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>{% trans 'Custom Styling' %}</h2>
    </div>
    <div class="content">

        <p>{% trans 'Select a journal to manage custom CSS for.' %}</p>
        <ul>
            <li><a href="{% url 'customstyling_manage_press_css' %}">{{ request.press.name }}</a></li>
            {% for journal in journals %}
            <li><a href="{% url 'customstyling_manage_css' journal.pk %}">{{ journal.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}