{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}{% trans 'Custom Styling for' %} {{ journal.name }}{% endblock %}

{% block css %}
<style>
    textarea {
        font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
{% endblock css %}


{% block body %}
<div class="box">
    <div class="title-area">
        <h2>{% trans 'Custom Styling for' %} {{ journal.name }}</h2>
    </div>
    <div class="content">
        <p>This section is for advanced users only. If you don't know how to write CSS then this is best left alone. If you want to learn check out the <a target="_blank" href="https://www.w3schools.com/css/">W3C CSS Tutorial</a>.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="success button">Save</button>
        </form>

    </div>
</div>
{% endblock body %}

{% block js %}
<script>
    document.getElementById('id_css').addEventListener('keydown', function (e) {
        if (e.key == 'Tab') {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;

            // set textarea value to: text before caret + tab + text after caret
            this.value = this.value.substring(0, start) +
                "\t" + this.value.substring(end);

            // put caret at right position again
            this.selectionStart =
                this.selectionEnd = start + 1;
        }
    });
</script>
{% endblock js %}